# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)
import locale
from translate import Translator

In [2]:
pip install translate

Requirement already satisfied: translate in c:\users\mvlik\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: libretranslatepy==2.1.1 in c:\users\mvlik\anaconda3\lib\site-packages (from translate) (2.1.1)
Requirement already satisfied: lxml in c:\users\mvlik\anaconda3\lib\site-packages (from translate) (4.6.1)
Requirement already satisfied: requests in c:\users\mvlik\anaconda3\lib\site-packages (from translate) (2.24.0)
Requirement already satisfied: click in c:\users\mvlik\anaconda3\lib\site-packages (from translate) (7.1.2)
Requirement already satisfied: idna<3,>=2.5 in c:\users\mvlik\anaconda3\lib\site-packages (from requests->translate) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mvlik\anaconda3\lib\site-packages (from requests->translate) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mvlik\anaconda3\lib\site-packages (from requests->translate) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\mvlik\anaconda3\lib\site-packages (from requests->translate) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

# Importing data

In [3]:
data = pd.read_csv('number-of-smes-2022-q1.csv' , delimiter = ',' , header=0 , names=['year','quarter','location','economic activity'
                                                                                     ,'micro enterprises','small enterprises','medium enterprises'
                                                                                     ,'large enterprises','total number of enterprises'])
data

,year,quarter,location,economic activity,micro enterprises,small enterprises,medium enterprises,large enterprises,total number of enterprises
0,2022,1,مكتب المنطقة الشرقية,أبحاث الإعلان والسوق,124,30,1,0,155
1,2022,1,مكتب المنطقة الشرقية,إصلاح أجهزة الحاسوب والسلع الشخصية والمنزلية,302,74,9,1,386
2,2022,1,مكتب المنطقة الشرقية,إصلاح وتركيب الآلات والمعدات,201,72,6,1,280
3,2022,1,مكتب المنطقة الشرقية,أنشطة أنتاج الأفلام والبرامج التلفزيونية والتس...,30,4,0,0,34
4,2022,1,مكتب المنطقة الشرقية,أنشطة الأمن والتحقيقات,22,17,11,4,54
...,...,...,...,...,...,...,...,...,...
5308,2022,1,مكتب منطقة نجران,صنع منتجات المطاط واللدائن,21,2,0,0,23
5309,2022,1,مكتب منطقة نجران,صنع منتجات المعادن اللافلزية الأخرى,66,31,9,1,107
5310,2022,1,مكتب منطقة نجران,صنع منتجات المعادن المشكلة ( باستثناء الآلات و...,175,14,4,0,193
5311,2022,1,مكتب منطقة نجران,صيد الأسماك وتربية المائيات,135,1,0,0,136
5312,2022,1,مكتب منطقة نجران,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,6,2,0,0,8

# Data Cleaning

### Finding how many duplicates in the data

In [4]:
data.duplicated().sum()

782

### Dropping duplicate data

In [5]:
data.drop_duplicates(inplace = True ,keep='first')
data

,year,quarter,location,economic activity,micro enterprises,small enterprises,medium enterprises,large enterprises,total number of enterprises
0,2022,1,مكتب المنطقة الشرقية,أبحاث الإعلان والسوق,124,30,1,0,155
1,2022,1,مكتب المنطقة الشرقية,إصلاح أجهزة الحاسوب والسلع الشخصية والمنزلية,302,74,9,1,386
2,2022,1,مكتب المنطقة الشرقية,إصلاح وتركيب الآلات والمعدات,201,72,6,1,280
3,2022,1,مكتب المنطقة الشرقية,أنشطة أنتاج الأفلام والبرامج التلفزيونية والتس...,30,4,0,0,34
4,2022,1,مكتب المنطقة الشرقية,أنشطة الأمن والتحقيقات,22,17,11,4,54
...,...,...,...,...,...,...,...,...,...
5306,2022,1,مكتب منطقة نجران,صُنع المواد الكيميائية والمنتجات الكيميائية,22,4,1,0,27
5307,2022,1,مكتب منطقة نجران,صُنع الورق ومنتجات الورق,11,4,1,0,16
5309,2022,1,مكتب منطقة نجران,صنع منتجات المعادن اللافلزية الأخرى,66,31,9,1,107
5310,2022,1,مكتب منطقة نجران,صنع منتجات المعادن المشكلة ( باستثناء الآلات و...,175,14,4,0,193
5311,2022,1,مكتب منطقة نجران,صيد الأسماك وتربية المائيات,135,1,0,0,136

#### Checking again for duplicates

In [6]:
data.duplicated().sum()

0

### Changing location data from arabic to english

In [7]:
data['location'].unique()

array(['مكتب المنطقة الشرقية', 'مكتب محافظة الأحساء',
       'مكتب محافظة الجبيل', 'مكتب محافظة الخرج', 'مكتب محافظة الدوادمي',
       'مكتب محافظة الطائف', 'مكتب محافظة بيشة', 'مكتب محافظة حفر الباطن',
       'مكتب محافظة ينبع', 'مكتب مكة المكرمة', 'مكتب منطقة الباحة',
       'مكتب منطقة الجوف', 'مكتب منطقة الحدود الشمالية',
       'مكتب منطقة الرياض', 'مكتب منطقة القصيم',
       'مكتب منطقة المدينة المنورة', 'مكتب منطقة تبوك',
       'مكتب منطقة جازان', 'مكتب منطقة حائل', 'مكتب منطقة عسير',
       'مكتب منطقة مكة المكرمة/جدة', 'مكتب منطقة نجران', 'المركز الرئيسي'],
      dtype=object)

In [8]:
data['location'] = data['location'].replace(['مكتب المنطقة الشرقية', 'مكتب محافظة الأحساء',
       'مكتب محافظة الجبيل', 'مكتب محافظة الخرج', 'مكتب محافظة الدوادمي',
       'مكتب محافظة الطائف', 'مكتب محافظة بيشة', 'مكتب محافظة حفر الباطن',
       'مكتب محافظة ينبع', 'مكتب مكة المكرمة', 'مكتب منطقة الباحة',
       'مكتب منطقة الجوف', 'مكتب منطقة الحدود الشمالية',
       'مكتب منطقة الرياض', 'مكتب منطقة القصيم',
       'مكتب منطقة المدينة المنورة', 'مكتب منطقة تبوك',
       'مكتب منطقة جازان', 'مكتب منطقة حائل', 'مكتب منطقة عسير',
       'مكتب منطقة مكة المكرمة/جدة', 'مكتب منطقة نجران', 'المركز الرئيسي'],['Eastern Region Office','Al-Ahsa Governorate Office',
       'Jubail Governorate Office', 'Al-Kharj Office', 'Dawadmi Governorate Office','Taif Governorate Office', 'Bishah Governorate Office', 'Hafr Al-Batin Governorate Office',
       'Yanbu Governorate Office','Makkah Al-Mukarramah Office', 'Al-Baha District Office',
       'Al-Jouf Region Office', 'Northern Border Region Office',
       'Riyadh Region Office', 'Qassim Region Office',
       'Al-Madinah Al-Munawwarah Region Office', 'Tabuk Region Office',
       'Jazan Region Office', 'Hail Region Office', 'Asir Region Office',
       'Makkah / Jeddah Region Office', 'Najran Region Office', 'Head Office'])
data

,year,quarter,location,economic activity,micro enterprises,small enterprises,medium enterprises,large enterprises,total number of enterprises
0,2022,1,Eastern Region Office,أبحاث الإعلان والسوق,124,30,1,0,155
1,2022,1,Eastern Region Office,إصلاح أجهزة الحاسوب والسلع الشخصية والمنزلية,302,74,9,1,386
2,2022,1,Eastern Region Office,إصلاح وتركيب الآلات والمعدات,201,72,6,1,280
3,2022,1,Eastern Region Office,أنشطة أنتاج الأفلام والبرامج التلفزيونية والتس...,30,4,0,0,34
4,2022,1,Eastern Region Office,أنشطة الأمن والتحقيقات,22,17,11,4,54
...,...,...,...,...,...,...,...,...,...
5306,2022,1,Najran Region Office,صُنع المواد الكيميائية والمنتجات الكيميائية,22,4,1,0,27
5307,2022,1,Najran Region Office,صُنع الورق ومنتجات الورق,11,4,1,0,16
5309,2022,1,Najran Region Office,صنع منتجات المعادن اللافلزية الأخرى,66,31,9,1,107
5310,2022,1,Najran Region Office,صنع منتجات المعادن المشكلة ( باستثناء الآلات و...,175,14,4,0,193
5311,2022,1,Najran Region Office,صيد الأسماك وتربية المائيات,135,1,0,0,136

### Changing Economic activity from arabic to english using python translate

In [9]:
data['economic activity'].nunique()

87

In [10]:
translator= Translator(to_lang='en')
translation = translator.translate("مرحبا")
print(translation)

مرحبا

# Basic data information

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4531 entries, 0 to 5311
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   year                         4531 non-null   int64
 1   quarter                      4531 non-null   int64
 2   location                     4531 non-null   object
 3   economic activity            4531 non-null   object
 4   micro enterprises            4531 non-null   int64
 5   small enterprises            4531 non-null   int64
 6   medium enterprises           4531 non-null   int64
 7   large enterprises            4531 non-null   int64
 8   total number of enterprises  4531 non-null   int64
dtypes: int64(7), object(2)
memory usage: 354.0+ KB

# The total number of enterprises

In [12]:
cols = ['micro enterprises','small enterprises','medium enterprises','large enterprises']
total = 0
for columns in data[cols]:
    total = total + data[columns].sum()
    print ('THE TOTAL NUMBER OF',columns.upper() ,'IN SAUDI ARABIA IS',f"{data[columns].sum():,}")
print ('THE TOTAL NUMBER OF ENTERPRISES IN SAUDI ARABIA IS', f"{total:,}")

THE TOTAL NUMBER OF MICRO ENTERPRISES IN SAUDI ARABIA IS 1,671,657
THE TOTAL NUMBER OF SMALL ENTERPRISES IN SAUDI ARABIA IS 404,824
THE TOTAL NUMBER OF MEDIUM ENTERPRISES IN SAUDI ARABIA IS 48,067
THE TOTAL NUMBER OF LARGE ENTERPRISES IN SAUDI ARABIA IS 10,218
THE TOTAL NUMBER OF ENTERPRISES IN SAUDI ARABIA IS 2,134,766

# Grouping locaion based on the sum of each enterprise

In [23]:
sum =(data.groupby(['location'], sort=True)['micro enterprises','small enterprises','medium enterprises','large enterprises']).sum()
sum

<ipython-input-23-f2555691da88>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sum =(data.groupby(['location'], sort=True)['micro enterprises','small enterprises','medium enterprises','large enterprises']).sum()

,micro enterprises,small enterprises,medium enterprises,large enterprises
location,,,,
Al-Ahsa Governorate Office,34842,9978,815,138
Al-Baha District Office,16138,3471,150,7
Al-Jouf Region Office,26398,4781,254,20
Al-Kharj Office,39300,7272,600,76
Al-Madinah Al-Munawwarah Region Office,75264,15738,1135,149
Asir Region Office,84012,16378,1235,151
Bishah Governorate Office,17113,2573,104,16
Dawadmi Governorate Office,27263,3183,224,21
Eastern Region Office,104909,45900,7411,1910
Hafr Al-Batin Governorate Office,27412,5090,427,37
Hail Region Office,44948,7130,508,48
Head Office,38,12,0,0
Jazan Region Office,64167,9187,507,42
Jubail Governorate Office,26035,8750,1338,405
Makkah / Jeddah Region Office,192570,68254,8426,1845
Makkah Al-Mukarramah Office,96502,22084,1757,171
Najran Region Office,39940,6655,565,120
Northern Border Region Office,19128,2812,136,21
Qassim Region Office,97125,20927,2393,317
Riyadh Region Office,518351,124218,18554,4589
Tabuk Region Office,42439,6458,400,47
Taif Governorate Office,58770,9450,625,29
Yanbu Governorate Office,18993,4523,503,59

In [28]:
sum2 =(data.groupby(['economic activity'], sort=True)['micro enterprises','small enterprises','medium enterprises','large enterprises']).sum()
sum2

<ipython-input-28-9637864f5eff>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sum2 =(data.groupby(['economic activity'], sort=True)['micro enterprises','small enterprises','medium enterprises','large enterprises']).sum()

,micro enterprises,small enterprises,medium enterprises,large enterprises
economic activity,,,,
أبحاث الإعلان والسوق,4011,777,11,0
أنشطة أنتاج الأفلام والبرامج التلفزيونية والتسجيلات الصوتية و نشرالموسيقى,1284,349,13,9
أنشطة الأمن والتحقيقات,710,317,148,65
أنشطة الاستخدام,3036,662,90,118
أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل المنزلي,132,9,0,0
...,...,...,...,...
صُنع المنسوجات,3508,1170,134,34
صُنع المواد الكيميائية والمنتجات الكيميائية,4156,1913,416,37
صُنع الورق ومنتجات الورق,636,488,134,20
صُنع منتجات التبغ,42,14,0,0
وكالات السفر ومشغّلو الجولات السياحية وخدمات الحجز والأنشطة المتصلة بها,2490,966,98,15

In [29]:
data.to_csv('sme-2022.csv')